html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#elementos_header {
    display: flex;
    align-items: center;
    gap: 20px;
}

#elementos_header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

#elementos_header a:hover {
    color: #009688;
}

#logo_link {
    font-size: 20px;
    font-weight: bold;
    color: #009688;
    text-decoration: none;
}

#login_button {
    background-color: #2e6652; 
    color: #000; 
    border: none; 
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 16px; 
    text-align: center;
    cursor: pointer; 
    text-decoration: none;
    align-items: center;
}

#login_button:hover {
    background-color: #245241;
}

/* Seção principal */
main {
    flex-grow: 1;
}

#secao_principal {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
    background-image: url(/img/secaoPrincipal.png); 
    background-size: cover;
    background-position: center;
}

#secao_principal h1 {
    font-size: 36px;
    color: #333;
}

#secao_principal h2 {
    font-size: 24px;
    color: #777;
    margin-bottom: 40px;
}

#secao_principal a {
    display: inline-block;
    background-color: #00a0db;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

#secao_principal a:hover {
    background-color: #007B9E;
}

/* Seção de ícones no rodapé da seção principal */
#footer_secao_principal {
    text-align: center;
    margin-top: 50px;
}

#footer_secao_principal ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#footer_secao_principal ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_secao_principal ul li img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#footer_secao_principal ul li p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

/* Rodapé */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer p, footer a {
    margin: 0;
    font-size: 14px;
    color: #f8f8f8;
    text-decoration: none;
}

footer a:hover {
    color: #009688; /* Cor ao passar o mouse sobre o link */
}